
# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# Editors
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln

# Node.js
node_modules/
npm-debug.log*

# NPM Packages
npm-debug.log*
*.tgz
dist/

# Standard
tmp/
*.log
logs

# Yarn
/yarn-error.log
/yarn.lock
/yarn-debug.log*


#Package.json
/package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage